@model Slider
@{
    ViewData["Title"] = "Delete";
}

<div class="card" style="width:18rem;">
    <ul class="list-group list-group-flush">


        <li class="list-group-item">
            Images:  <img style="max-width:100%;" src="~/image/bg-images/@Model.Images" />
        </li>
        <li class="list-group-item"> Slider_Id: @Model.Id</li>
        <li class="list-group-item">Slider_desc: @Model.Desc</li>
        <li class="list-group-item"> Slider_Text:@Model.Text</li>
        <li class="list-group-item"> Slider_Price:@Model.Price</li>
        <li class="list-group-item"> Slider_Order:@Model.Order</li>



    </ul>

    <a class="btn btn-primary" asp-action="Index">
        Go to List
    </a>
    <h3>
        Silmek Istediyinize eminsinizmi?
    </h3>
  
    <form method="post">

        <button type="submit" class="btn btn-danger">
            Delete
        </button>
    </form>

</div>




